<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandeirinhas </title>
    <link rel="stylesheet" href="../css/index.css">
    <script type="module" src="../../controller/bandeiras_i.js" defer></script>
</head>

<body id="body">
    <header>
    </header>
    <section id="section">
        <nav id="banners">
            <div class="banner" id="banner_0">
                <div class="texto">
                    <h1>Pais 001</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
            <div class="banner" id="banner_1">
                <div class="texto">
                    <h1>Pais 002</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
            <div class="banner" id="banner_2">
                <div class="texto">
                    <h1>Pais 003</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
            <div class="banner" id="banner_3">
                <div class="texto">
                    <h1>Pais 004</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
        </nav>
        <nav id="botoes_banners">
            <div class="btn_banner" onclick="trocarBanner(0)">
                <div class="barras_btn" id="b_1_1" ></div>
                <div class="barras_btn" id="b_2_1" ></div>
                <div class="barras_btn" id="b_3_1" ></div>
            </div>
            <div class="btn_banner" onclick="trocarBanner(1)">
                <div class="barras_btn" id="b_1_2" ></div>
                <div class="barras_btn" id="b_2_2" ></div>
                <div class="barras_btn" id="b_3_2" ></div>
            </div>
            <div class="btn_banner" onclick="trocarBanner(2)">
                <div class="barras_btn" id="b_1_3" ></div>
                <div class="barras_btn" id="b_2_3" ></div>
                <div class="barras_btn" id="b_3_3" ></div>
            </div>
            <div class="btn_banner" onclick="trocarBanner(3)">
                <div class="barras_btn" id="b_1_4" ></div>
                <div class="barras_btn" id="b_2_4" ></div>
                <div class="barras_btn" id="b_3_4" ></div>
            </div>
        </nav>
    </section>
</body>

</html>
<!-- id='pais_um'
id='pais_dois'
id='pais_tres'
id='pais_quatro' -->


<!-- model
a barra usa a mesma pro Icon e pra bandeira

    pais {
        bara um = cor1, cor2, ...
        barra dois = corX, corY, ...
        descricao = wasd, dsaw, ... 
    }

 js

    iconband
    /1 = pai[i]. barra um
    /2 = pais[i]. barra dois
    ...
-->