<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bandeirinhas </title>
    <link rel="stylesheet" href="../css/index.css">
    <script type="module" src="../../controller/bandeiras_i.js" defer></script>
</head>

<body id="body">
    <header>
    </header>
    <section>
        <nav id="banners">
            <div class="banner" id="banner_0">
                <div class="texto">
                    <h1>Pais 001</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
            <div class="banner" id="banner_1">
                <div class="texto">
                    <h1>Pais 002</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
            <div class="banner" id="banner_2">
                <div class="texto">
                    <h1>Pais 003</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
            <div class="banner" id="banner_3">
                <div class="texto">
                    <h1>Pais 004</h1>
                    <p>É um pais situado na..... Surgiu em aproximandamente..... tem como idioma oficial.....</p>
                </div>
            </div>
        </nav>
        <nav id="botoes_banners">
            <div class="btn_banner" onclick="trocarBanner(0)">
            </div>
            <div class="btn_banner" onclick="trocarBanner(1)">
            </div>
            <div class="btn_banner" onclick="trocarBanner(2)">
            </div>
            <div class="btn_banner" onclick="trocarBanner(3)">
            </div>
        </nav>
    </section>
</body>

</html>
<!-- id='pais_um'
id='pais_dois'
id='pais_tres'
id='pais_quatro' -->